# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/foxtra-ai-website

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# App Configuration
NODE_ENV=development

# Retell AI Configuration
RETELL_WORKSPACE_ID=org_x3gjmWntYbAtkBSq
RETELL_API_BASE=https://api.retellai.com/v2
RETELL_API_KEY=key_6fa549f68033f0eeb9d6ac61e830


# Retell AI Agent IDs (for different agent types)
RETELL_CHAT_AGENT_ID=agent_3977732b4acb118093e6f230dc
RETELL_CHAT_AGENT_NAME=Tracy
RETELL_RECEPTIONIST_AGENT_ID=your-receptionist-agent-id-here
RETELL_RECEPTIONIST_AGENT_NAME=Lexi
RETELL_SALES_AGENT_ID=your-sales-agent-id-here
RETELL_SALES_AGENT_NAME=Flora


# Phone Configuration
DEFAULT_FROM_NUMBER=+61
